*{margin:0px; padding:0px;}

body {
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
	color: #333;
	background-image: url(images/bg-1.jpg);
	background-repeat: repeat-x;
}
.box {
	width: 1002px;
	margin-top: 2px;
	margin-right: auto;
	margin-left: auto;
}




.head {
	height: 100px;
	width: 1002px;
	background-image: url(images/hebg.jpg);
	background-repeat: no-repeat;
	background-position: left;
}

.logo {
	font-size: 36px;
	font-weight: bolder;
	width: 420px;
	float: left;
	margin-top: 26px;
	margin-left: 10px;
	color: #30F;
}
.number {
	font-size: 16px;
	font-weight: bold;
	float: left;
	width: 200px;
	margin-top: 40px;
	color: #006;
}
.xin {
	float: right;
	margin-top: 43px;
}
.banneer {
	margin-bottom: 5px;
	margin-top: 10px;
}

.zhengwen {
	width: 700px;
	float: left;
	height: 200px;
}
.zhengwen p {
	line-height: 2.2em;
	letter-spacing: 2px;
	text-indent: 2em;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 700px;
	overflow: hidden;
}

.guanyu {
	background-image: url(images/guanyu.jpg);
	background-repeat: no-repeat;
	height: 29px;
}

.anli {
	background-image: url(images/anli.jpg);
	background-repeat: no-repeat;
	height: 29px;
}

.bb {
	width: 1002px;
	clear: both;
}

.qwe {
	float: left;
	height: 260px;
	width: 232px;
	margin-top: 15px;
	margin-right: 24px;
}
.qa {
	float: left;
	height: 260px;
	width: 234px;
	margin-top: 15px;
	margin-right: 0px;
}
.qwe .asd {
	color: #000;
	float: left;
	margin-left: 100px;
}
.qa .asd {
	color: #000;
	float: left;
	margin-left: 100px;
}


.qwe a {
	color: #000;
}
.qa a {
	color: #000;
}
.qwe a:hover {
	color: #06F;
}

.qa a:hover {
	color: #06F;
}
a {
	color: #FFF;
	text-decoration: none;
}
h2 {
	float: left;
	margin-top: 4px;
	margin-left: 35px;
	color: #FFF;
}
.guanyu span a:hover {
	color: #06F;
	text-decoration: underline;
}



span {
	float: right;
	margin-top: 7px;
	margin-right: 15px;
}
.news {
	float: right;
	width: 290px;
	height: 200px;
	margin-bottom: 15px;
}
.xinwen {
	background-image: url(images/bbg.jpg);
	background-repeat: no-repeat;
	height: 29px;
	margin-bottom: 10px;
}


 h3 {
	float: left;
	margin-top: 7px;
	margin-left: 17px;
	color: #060;
	font-size: 16px;
}



.news ul li {
	height: 30px;
	width: 280px;
	list-style-type: disc;
	overflow: hidden;
	white-space:nowrap;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #999;
	line-height: 2.1em;
	letter-spacing: 2px;
	padding-right: 5px;
	padding-left: 5px;
	list-style-position: inside;
}
.news ul li a {
	text-decoration: none;
	color: #333;
}
.xinwen .more {
	float: right;
	margin-right: 0px;
	margin-top: 10px;
	font-size: 10px;
}
.xinwen .more a {
	color: #06F;
	text-decoration: none;
}

.news ul li a:hover {
	color: #090;
}

.white {
	height: 30px;
	background-color: #FFF;
	clear: both;
}




.footer {
	height: 45px;
	width: 1002px;
	background-image: url(images/foobg.jpg);
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
	clear: both;
	color: #FFF;
	text-align: center;
	line-height: 1.7em;
}



/*内页css*/
.ca {
	width: 990px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 6px;
	padding-left: 6px;
	border-top-width: 3px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #CCC;
	border-bottom-color: #CCC;
}
.ca p {
	line-height: 2em;
	letter-spacing: 1px;
}
.ca h1 {
	text-align: center;
	margin-top: 35px;
	margin-bottom: 10px;
}
.cen {
	text-align: center;
}


.ca p img {
	margin-top: 6px;
	margin-right: 15px;
}
.news ul .aa {
	list-style-type: none;
}
ul .aa img {
	vertical-align: middle;
	padding-bottom: 4px;
}
